# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
ENV/

# Databases
*.db
*.db-journal

# Local Environment Configs
.env
dev_users/

# IDEs
.vscode/
.idea/

# Bun / Node
node_modules/
bun.lock
dist/
home_hubjupylab/

