# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
ENV/

# Scratch / temp
scratch/__pycache__/

# Databases
*.db
*.db-journal
*.db-shm
*.db-wal

# Local Environment Configs
.env
dev_users/

# IDEs
.vscode/
.idea/

# Bun / Node
node_modules/
bun.lock
dist/
home_hubjupylab/

