[Unit]
Description=HubJupyLab Service
After=network.target

[Service]
User=hubjupylab
WorkingDirectory=/home/hubjupylab/hubjupylab
ExecStart=/home/hubjupylab/.bun/bin/bun run src/index.ts
Restart=always
RestartSec=5
Environment=PATH=/home/hubjupylab/.bun/bin:/home/hubjupylab/.local/bin:/usr/bin:/usr/local/bin

[Install]
WantedBy=multi-user.target
